In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv(r'C:\Users\LEGION\OneDrive - Baku Higher Oil School\Desktop\IndianHealthyRecipe.csv')

In [4]:
df.head()

,Dish Name,Description,Spice,Prep Time,Views,Rating,Number of Votes,Serves,Dietary Info,Cook Time,Ingredients,Instructions
0,Pistachio chicken,Mild chicken in a creamy pistachio sauce,mild,Prep 10 mins,11604,4.1,18.0,4.0,['CONTAINS-NUTS'],30 mins,"1) 600g chicken thighs, cut into chunks\n2) 10...","1) Boil enough water to cover the pistachios, ..."
1,Tangy Fried Okra,Bhindi with Amchoor,medium,Prep 10 mins,49899,4.6,35.0,4.0,['VEGETARIAN'],15 mins,1) 500g okra\n2) 3 tbsp mustard oil\n3) 1 onio...,1) Wash and thoroughly dry the okra (kitchen r...
2,Healthy Chicken Korma,Chicken in Creamy Almond Sauce,mild,Prep 10 mins,115569,3.6,163.0,4.0,['CONTAINS-NUTS'],20 mins,1) 6-8 tbsp natural yoghurt\n2) 1 tsp turmeric...,1) Grind your whole spices in a spice grinder....
3,Brown Lentil Dhal,Sabut Masoor di Dhal,medium,Prep 10 mins,146798,3.7,87.0,4.0,['VEGETARIAN'],20 mins,1) 200g brown lentils\n2) Approx. 1L of water\n,1) Place the lentils in the pressure cooker wi...
4,Thari Wala Chicken,Healthy Chicken Curry,medium,Prep 10 mins,262696,3.5,343.0,4.0,['LACTOSE-FREE'],40 mins,1) 8 pieces of chicken (4 legs cut into thigh ...,"1) Skin the chicken, removing any excess fat.\..."

In [6]:
list(df.columns)

['Dish Name',
 'Description',
 'Spice',
 'Prep Time',
 'Views',
 'Rating',
 'Number of Votes',
 'Serves',
 'Dietary Info',
 'Cook Time',
 'Ingredients',
 'Instructions']

In [5]:
df.describe()

               Views      Rating  Number of Votes      Serves
count     149.000000  149.000000       147.000000  146.000000
mean    72516.563758    3.833557        66.761905    4.445205
std     82521.553789    0.561442       128.797991    1.399659
min      3981.000000    0.000000         0.000000    1.000000
25%     28613.000000    3.500000        16.000000    4.000000
50%     49854.000000    3.800000        29.000000    4.000000
75%     84817.000000    4.100000        68.000000    4.000000
max    596269.000000    5.000000      1266.000000   12.000000

In [8]:
df['Dish Name'].duplicated().sum()

0

In [12]:
maxx_view=df['Views'].max()

df[df['Views']==maxx_view][['Dish Name','Views']]

       Dish Name   Views
71  Marrow Curry  596269

In [13]:
maxx_rating=df['Rating'].max()

df[df['Rating']==maxx_rating][['Dish Name','Rating']]

                               Dish Name  Rating
60   Kati Egg Roll with Basmati & Quinoa     5.0
92          Pitta Bread with Carom Seeds     5.0
95                       Power Salad Jar     5.0
127                 Spiced Pumpkin Seeds     5.0

In [15]:
min_serve=df['Serves'].min()

df[df['Serves']==min_serve][['Dish Name','Serves']]

                         Dish Name  Serves
131  Spinach and Mushroom Omelette     1.0

In [17]:
df.isnull().sum()

Dish Name           0
Description         0
Spice               4
Prep Time           1
Views               0
Rating              0
Number of Votes     2
Serves              3
Dietary Info        0
Cook Time          15
Ingredients         0
Instructions        0
dtype: int64

In [18]:
df['Spice'].value_counts()

Spice
medium    87
mild      26
hot       21
none      11
Name: count, dtype: int64

In [20]:
df['Spice'].fillna(df['Spice'].mode()[0],inplace=True)

In [21]:
df['Prep Time'].fillna(df['Prep Time'].mode()[0],inplace=True)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_21644\960419873.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Prep Time'].fillna(df['Prep Time'].mode()[0],inplace=True)

In [22]:
df['Number of Votes'].fillna(df['Number of Votes'].mean(),inplace=True)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_21644\1532129390.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Number of Votes'].fillna(df['Number of Votes'].mean(),inplace=True)

In [23]:
df['Serves'].fillna(df['Serves'].mean(),inplace=True)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_21644\1719616035.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Serves'].fillna(df['Serves'].mean(),inplace=True)

In [25]:
df['Cook Time'].fillna(df['Cook Time'].mode()[0],inplace=True)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_21644\3504986714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cook Time'].fillna(df['Cook Time'].mode()[0],inplace=True)

In [26]:
df.isnull().sum()

Dish Name          0
Description        0
Spice              0
Prep Time          0
Views              0
Rating             0
Number of Votes    0
Serves             0
Dietary Info       0
Cook Time          0
Ingredients        0
Instructions       0
dtype: int64